.feature-item {
  padding: 0 0 1rem 0;
  position: relative;

  @mixin atSmall {
    padding: 0 0 2.5rem 95px;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    width: 50px;

    @mixin atSmall {
      position: absolute;
      left: 0;
      width: 60px;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: center;

    @mixin atSmall {
      font-size: 1.85rem;
      margin-top: 1rem;
      text-align: left;
    }
  }
}
