.wrapper {
  overflow: hidden;
  padding: 0 18px;
  max-width: 1236px;
  margin: 0 auto;

  &--medium {
    max-width: 976px;
  }

  .wrapper {
    padding: 0;
  }

  &--b-margin {
    margin-bottom: 0.875rem;

    @mixin atSmall {
      margin-bottom: 2rem;
    }

    @mixin atMedium {
      margin-bottom: 4rem;
    }
  }
}
